@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap'); 
        .unikiz-update-body {
            background: #2B273C;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            white-space: initial
        }
        .unikiz-update-body a {
            color: inherit;
            text-decoration: none;
            display: inline-block
        }
        .unikiz-update-box {
            background: floralwhite;
            margin: 10%;
            border-radius: 10px;
            padding: 15px;
            font-family: 'nunito'
        }
        .unikiz-update-box span:nth-child(1) {
            display: block;
            font-size: 3em;
            font-weight: 700;
            color: #DC0711;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 0.7em
        }
        .unikiz-update-box span:nth-child(2) {
            background: wheat !important;
            border-radius: 5px;
            padding: 0 5px;
            display: inline-block;
        }  
